# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/

# Playwright browser binaries
playwright/.cache/
playwright/.local-browsers/

# Pytest
.pytest_cache/
htmlcov/

# Reports
reports/
*.html
*.xml

# Logs
*.log

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Environment files
.env